.cont {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  /* background-image: url("./img/bgdot.png");
  background-size: cover; */
}
.section_main_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  /* border: 2px solid red; */
}
.left_bottom p {
  font-size: small;
  /* border: 2px solid red; */
}
.section_main_center {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
}
.section_main_right {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.right {
  text-align: right;

  /* border: 2px solid red; */
}
.rig_bom p {
  color: #9ee8ae;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  .res_web {
    display: none;
  }
  .res_mob {
    display: block;
  }
}
@media screen and (min-width: 1000px) {
  .res_mob {
    display: none;
  }
}
