/* ---------------------------------------------------------------Why hire me */
.why_hire {
  width: 100%;
  height: auto;
  background-color: #282834;
  border: 1px solid #282834;
}
.hire_container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 90%;
  /* height: 500px; */
  margin: auto;
  margin-top: 60px;
  /* border: 2px solid white; */
  padding-bottom: 5%;
}
.hire_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.hire_top_left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hire_top_center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}
.hire_top_right {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  text-align: right;
}
.hire_bottom {
  margin-top: 30px;
  text-align: center;
  /* border: 2px solid red; */
}
#b {
  color: #719a7f;
  font-size: 13px;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  .why_web {
    display: none;
  }
  .why_mob {
    display: block;
  }
}
@media screen and (min-width: 1000px) {
  .why_mob {
    display: none;
  }
}
